<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8"/>
	<title>ZZU--图书脚</title>
  <link rel="stylesheet" href="css/index.css" type="text/css" media="screen" />
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery.form.js" type="text/javascript"></script>
</head>
<body>
  <div id="left_bg" class="bg"></div>
  <div id="right_bg" class="bg"></div>
  <div id="logo_img" style="position:absolute;z-index:99;width:100%;"align="center">
    <img src="favicon.ico"></img>
  </div>
  <div class="container">
    <div class="center">
      <div id="left" class="middle">
        郑州大学
        <p>
          图书馆是大学里的成长
        </p>
				<form id="loginForm" action="/login" method="get">
				<ul><li>
					用户名:
		      <input type="text" name="username"/></br></li><li>
					密码:
		    	<input type="password" name="password"/></br></li><li>
          <input type="submit" value="登录"/></li><li>
          <p>你可以用使用用户名:admin,密码admin来测试网站内容</p>
          <div style="display:none;" align="center" id="err_info"></div>
          </li>
				</ul>
				</form>
      </div>
      <div id="right" class="middle">
        图书脚
        <p>
        看看我们走了多少步吧...
        </p>
        <ul>
          <li>不知道这个网站是干什么的?</li>
          <li><b><i><u><a href="/test">先体验一下吧!</a></u><i><b></li>
        </ul>
      </div>
			<div id="footer" class="middle">
			</div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $("#loginForm").ajaxForm(function(data){
            $("#err_info").hide();
            if(data=='login_faile'){
            //alert("你的用户名密码是错误的");
              $("#err_info").html('<span style="color:red;">登录信息有错误</span>');
              $("#err_info").show();
            }
            else if(data=='login_success'){
              window.location.href="/mylib" 
            }
            else{
              alert("服务器或者网络问题,请稍后重试");
            }
        });
      });
  </script>
</body></html>
